[Desktop Entry]
Type=Application
Name=Euclideus
# Use the FULL absolute path to your AppImage
Exec=sh -c "~/.local/bin/Euclideus-x86_64.AppImage"
# Use the FULL absolute path to your icon file
Icon=euclideus_icon.png
Terminal=false
Categories=Utility;
# Helps Ubuntu group the icon with the running window
StartupWMClass=Euclideus